<h1>Menu</h1>

<p>Rendering {{ template_name }} template!</p>
  <ul id="menu-list">
    {{#each menu}}
      <li class="menu-type">{{ name }}
          <ul id="list">
            {{#menu_items}}
              <li><a class="menu-item"  data-id="{{ id }}" href="#">{{ name }}</a><span class="price"> {{ price }}</span></li>
            {{/menu_items}}
          </ul>
      </li>
    {{/each}}
  </ul>
  <div id="js-cart">
    <p><strong>Cart</strong></p>
    <ul>
      {{#each order_items}}
          <li><a class="js-delete-item-cart" href="#">X</a> <a class="order-item">{{ name }}</a><span class="price"> {{ price }}</span></li>
      {{/each}}
    </ul>
    <input class="actions" type="submit" value="Place Order"/>
  </div>
